#contenedor{
	background: #E0F2F1;
}


.marketing{
        margin-top: 20px;
      }

      .featurette-divider{
        margin-top: 80px;
      }
      
      body{
        background: #FFFFFF;
      }
      #myCarousel{
        margin-top: 20px;
      }


      @media (min-width: 992px){
        #myCarousel{
          margin-top: -20px;
        }
        .container-relev{
      padding-left: 300px;
      padding-right: 300px;
      margin-right: 0px;
      padding-top: 15px;
      margin-left: 0px;
      background-color: #263238;
      color:white;
      padding-bottom: 15px;
      box-shadow: -3px -3px 15px 5px black;
     }
      
      }

       ul>li a{
              font-size: 20px;
            }



      @media(max-width: 1200px){
         ul>li a{
              font-size: 14px;
            }

            body{
              background: green;
            }

            .container-relev{
      padding-left: 200px;
      padding-right: 200px;
      padding-top: 15px;
      margin-right: 0px;
      margin-left: 0px;
      background-color: #263238;
      color:white;
      padding-bottom: 15px;
      box-shadow: -3px -3px 15px 5px black;
      
     }
      }

    
       @media (max-width: 992px) {
            ul>li a{
              font-size: 14px;
            }

            body{
              background: black;
            }

            #imglogo{
              margin-left: -100px;
            }

            #menus{
              margin-right: -120px;
            }

               .container-relev{
      padding-left: 80px;
      padding-right: 80px;
      margin-right: 0px;
      margin-left: 0px;
      padding-top: 15px;
      background-color: #263238;
      color:white;
      padding-bottom: 15px;
      box-shadow: -3px -3px 15px 5px black;
      
     }
      }
      
   

        @media (max-width: 768px) {
            ul>li a{
              font-size:18px;
            }

            body{
              background: yellow;
            }

            #imglogo{
              margin-left: -0px;
              width: 250px;
              height: 50px;
            }

           

     

    
    

    
     hr{
      background-color: #ff511e;
      height: -1px;
      width: 100%;
     box-shadow: -3px 0px 5px 5px black;
     }
     
    