
/*
       ul>li a{
              font-size: 20px;
            }



      @media(max-width: 1200px){
         
            ul>li a{
              font-size: 14px;
            }
     
      }

    
       @media (max-width: 992px) {
        ul>li a{
              font-size: 14px;
            }
        #imglogo{
              margin-left: -100px;
            }

         #menus{
              margin-right: -120px;
            }
       
      }
      
   

        @media (max-width: 768px) {
       ul>li a{
              font-size:18px;
            }
            #imglogo{
              margin-left: -0px;
              width: 250px;
              height: 50px;
            }
           
            
             .container-relev{
               padding-left: 15px;
               padding-right: 15px;
               padding-bottom: 15px;
               padding-top: 15px;
               margin-right: 0px;
               margin-left: 0px;
               background-color: #263238;
              color:white;
              box-shadow: -3px -3px 15px 5px black;
     
               }


      }


      .container-relev{
      	
        background-color: #f2f2f2;
        color:black;
         margin-top: -15px;
      }

    hr{
      background-color: #ff511e;
      height: 5px;
      width: 100%;
     box-shadow: -3px 0px 5px 5px black;
     }

     h2 p {
       text-shadow: 3px 3px 3px 5px blue;
     }

 

 .titu{

    background-color: #0288d1;
    margin-bottom: 20px;
    text-align: center;
    margin-top: -20px;
 }

 


.imgimport{
 border-radius: 10px 10px 10px 10px;
 box-shadow: -3px 0px 5px 5px black;
 }

 .btn{

background: #ff511e;  
 }


 p{
  font-size: 16px;
 }

 imgs{
  height: 400px;
  width: 500px;
 }