<!DOCTYPE html>
  <html>
  <head lang="es">
    <meta charset="UTF-8">
    <title>{{titutolo}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/boot/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/detalleser.css">
     <style type="text/css">
      
    
     </style>
     <script type="text/javascript">
      
     </script>
     
      
  </head>
    <body>

  <div class="navbar-wrapper">
      <div class="container-fluit">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <!-- <a class="navbar-brand" href="#">{{compa}} </a> 
-->
               <img src="/static/imagenes/banner/logo1.png"  alt="Brand" class="pull-left"  id="imglogo">
            </div>
            <div class="navbar-collapse collapse" id="menus">
              <ul class="nav navbar-nav pull-right">
                  <li><a href="/"><span class="glyphicon glyphicon-home">Inicio{{users}}</span></a></li>
                  <li><a href="/servicios"><span class="glyphicon glyphicon-info-sign">Servicios</span></a></li>
                  <li><a href="/ubicacion"><span class="glyphicon glyphicon-map-marker">Ubicacion</span></a></li>
                  <li><a href="/fotos"><span class="glyphicon glyphicon-picture">Fotos</span></a></li>
                  <li><a href="/contacto"><span class="glyphicon glyphicon-phone-alt">Contactenos</span></a></li>
                  <li><a href="/quienes"><span class="glyphicon glyphicon-question-sign">Quienes somos</span></a></li>
               </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


 <div class="row-fluit ">
      <div class="col-xs-12 col-sm-12 col-dm-12 col-lg-12 titu">
        <h1>Contactenos</h1>
      </div>


  <div class="container">

  
  
  <div  class= "media" > 
  <div  class= "media-left" > 
    <a  href= "#" > 
      <img  class= "media-object"  src= "/static/imagenes/banner/telefono.png""  alt= "..." > 
    </a> 
  </div> 
  <div  class= "media-body" > 
    <h4  class= "media-heading" > (718) 285-8693 </h4>
    <p>se supone que esto funciona</p>
  </div> 
</div>
  
  
    <div  class= "media" > 
  <div  class= "media-left" > 
    <a  href= "#" > 
      <img  class= "media-object"  src= "/static/imagenes/banner/email.png""  alt= "..." > 
    </a> 
  </div> 
  <div  class= "media-body" > 
    <h4  class= "media-heading" > Email Us </h4>
    <p>se supone que esto funciona</p>
  </div> 
</div>


  <div  class= "media" > 
  <div  class= "media-left" > 
    <a  href= "#" > 
      <img  class= "media-object"  src= "/static/imagenes/banner/home.png""  alt= "..." > 
    </a> 
  </div> 
  <div  class= "media-body" > 
    <h4  class= "media-heading" > Address</h4>
    <p>Master Auto Glass Corp.
712 Southern Blvd
Bronx, NY 10455</p>
  </div> 
</div>
  
</div>


          </div>
          
  
    <hr class="hrsp">
      <!-- /END THE FEATURETTES -->    
   <footer>
        
        <p>Serving Bronx NY; City Island NY; Mamaroneck NY; Manhattan NY; Mount Vernon NY; New Rochelle NY; Westchester County NY; White Plains NY; Yonkers NY  Since 1939Email Us!
           712 Southern Blvd
           Bronx NY 10455
           Call us: (718) 285-8693Last Updated: 2015/05/04 .</p>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Master Auto Glass Corp. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

      
    <script src="/static/js/jquery-1.2.6.min.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script src="/static/boot/js/bootstrap.js" type="text/javascript"></script>


  </body>
</html>