<!DOCTYPE html>
  <html>
  <head lang="es">
    <meta charset="UTF-8">
    <title>{{nombre}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/boot/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/imagenes/icono/credit-cards.ico" />
     <style type="text/css">
      
    
     </style>
     <script type="text/javascript">
      
     </script>
  </head>
    <body>
        
        <div class="jumbotron boxlogin">
          <form method="POST" name="flogin" id="flogin">
            <label>User Name:</label></label>
            <input type="text" name="username" id="username" class="form-control">
            <label>Password:</label>  
            <input type="password" name="password" id="password" class="form-control">
              <input type="submit" class="btn btn-success" value="Login">
          </form>
        </div>
      
    <script src="/static/js/jquery-1.2.6.min.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script src="/static/boot/js/bootstrap.js" type="text/javascript"></script>

  </body>
</html>