  <div class="navbar-wrapper">
      <div class="container-fluit">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <!-- <a class="navbar-brand" href="#">{{compa}} </a> 
-->
               <img src="/static/imagenes/banner/logo1.png"  alt="Brand" class="pull-left"  id="imglogo">
            </div>
            <div class="navbar-collapse collapse" id="menus">
              <ul class="nav navbar-nav pull-right">
                  <li><a href="#"><span class="glyphicon glyphicon-home">Inicio{{users}}</span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-info-sign">Servicios</span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-map-marker">Ubicacion</span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-picture">Fotos</span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-phone-alt">Contactenos</span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-question-sign">Preguntas Frecuentes</span></a></li>
               </ul>
            </div>
          </div>
        </div>

      </div>
    </div>