 <!DOCTYPE html>
  <html>
  <head lang="es">
    <meta charset="UTF-8">
    <title>{{titulo}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/boot/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/servicios.css">
    
     <style type="text/css">
      
    
     </style>
     <script type="text/javascript">
      
     </script>
  </head>
    <body>

  <div class="navbar-wrapper">
      <div class="container-fluit">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <!-- <a class="navbar-brand" href="#">{{compa}} </a> 
-->
               <img src="/static/imagenes/banner/logo1.png"  alt="Brand" class="pull-left"  id="imglogo">
            </div>
            <div class="navbar-collapse collapse" id="menus">
              <ul class="nav navbar-nav pull-right">
                  <li><a href="/"><span class="glyphicon glyphicon-home">Inicio{{users}}</span></a></li>
                  <li><a href="/servicios"><span class="glyphicon glyphicon-info-sign">Servicios</span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-map-marker">Ubicacion</span></a></li>
                  <li><a href="#""><span class="glyphicon glyphicon-picture">Fotos</span></a></li>
                  <li><a href="/contacto"><span class="glyphicon glyphicon-phone-alt">Contactenos</span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-question-sign">Quienes somos</span></a></li>
               </ul>
            </div>
          </div>
        </div>
      </div>
    </div>





  <div class="row-fluit ">
      <div class="col-xs-12 col-sm-12 col-dm-12 col-lg-12 titu">
        <h1>Services Offered</h1>
      </div>



<!-- comienza la informacion -->



       <div class="col-xs-12 col-sm-6 col-dm-4 col-lg-4 ">
         <div class="thumbnail">
           <img  id="imgs"  class="img-responsive img-service" src="/static/imagenes/info/Auto-Glass-Repair.jpg" alt="...">
           <div class="caption">
             <h3>Auto Glass Repair</h3>
             <p>As automobile design has undergone numerous developments over the years, the amount of area devoted to windshields and windows has continued...</p>
             <p><a href="/detalleservice" class="btn btn-primary" role="button">View details &raquo;</a></p>
           </div>
         </div>
       </div>
    
       <div class="col-xs-12 col-sm-6 col-dm-4 col-lg-4 ">
         <div class="thumbnail">
           <img   id="imgs"  class="img-responsive img-service" src="/static/imagenes/info/Truck-Windshield-Repair.jpg" alt="...">
           <div class="caption">
             <h3>Truck Windshield Repair</h3>
             <p>Located near a major trucking route in the Bronx, Master Auto Glass Corp. specializes in professional windshield repair for...</p>
             <p><a href="/detalleservice" class="btn btn-primary" role="button">View details &raquo;</a> </p>
           </div>
         </div>
       </div>


        <div class="col-xs-12 col-sm-6 col-dm-4 col-lg-4 ">
         <div class="thumbnail">
           <img id="imgs"  class="img-responsive img-service" src="/static/imagenes/info/Auto-Glass-Replacement.jpg" alt="...">
           <div class="caption">
             <h3>Auto Glass Replacement</h3>
             <p>As anyone who drives on a daily basis knows, the road can be a dangerous place. Accidents can happen at any time, heavy storms can...</p>
             <p><a href="/detalleservice" class="btn btn-primary" role="button">View details &raquo;</a> </p>
           </div>
         </div>
       </div>


        <div class="col-xs-12 col-sm-6 col-dm-4 col-lg-4 ">
         <div class="thumbnail">
           <img  id="imgs" class="img-responsive img-service" src="/static/imagenes/info/Windshield-Repairs.jpg" alt="...">
           <div class="caption">
             <h3>Windshield Repairs</h3>
             <p>It can happen in the blink of an eye. Just one flying rock, stray golf ball, or other unfortunate incident can leave you with a deep ...</p>
             <p><a href="/detalleservice" class="btn btn-primary" role="button">View details &raquo;</a> </p>
           </div>
         </div>
       </div>


        <div class="col-xs-12 col-sm-6 col-dm-4 col-lg-4 ">
         <div class="thumbnail">
           <img  id="imgs" class="img-responsive img-service" src="/static/imagenes/info/Windshield-Replacement.jpg" alt="...">
           <div class="caption">
             <h3>Windshield Replacement</h3>
             <p>Extensive damage to your windshield glass can make for one scary ride. Instead of acting as a protective barrier between you, your ...</p>
             <p><a href="/detalleservice" class="btn btn-primary" role="button">View details &raquo;</a> </p>
           </div>
         </div>
       </div>


        <div class="col-xs-12 col-sm-6 col-dm-4 col-lg-4 ">
         <div class="thumbnail">
           <img  id="imgs" class="img-responsive img-service" src="/static/imagenes/info/Window-Regulator-Replacement.jpg" alt="...">
           <div class="caption">
             <h3>Window Regulator Replacement</h3>
             <p>Unlike the manual windows of old, most of today’s vehicles come equipped with automatic windows that go up and...</p>
             <p><a href="/detalleservice" class="btn btn-primary" role="button">View details &raquo;</a> </p>
           </div>
         </div>
       </div>



  </div>


     



      <hr class="hrsp">

      <!-- /END THE FEATURETTES -->    
   <footer>
        
        <p>Serving Bronx NY; City Island NY; Mamaroneck NY; Manhattan NY; Mount Vernon NY; New Rochelle NY; Westchester County NY; White Plains NY; Yonkers NY  Since 1939Email Us!
           712 Southern Blvd
           Bronx NY 10455
           Call us: (718) 285-8693Last Updated: 2015/05/04 .</p>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Master Auto Glass Corp. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

      
    <script src="/static/js/jquery-1.2.6.min.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script src="/static/boot/js/bootstrap.js" type="text/javascript"></script>

  </body>
</html>